# Data wrangling: Cleaning data
Notes on cleaning data.

In [1]:
import pandas as pd
import numpy as np

Clean the data on patients taking a new drug - Auralin.

In [2]:
patients = pd.read_csv('patients.csv')
treatments = pd.read_csv('treatments.csv')
adverse_reactions = pd.read_csv('adverse_reactions.csv')

**A quick recap of issues found during the assement stage:**

#### Quality
##### `patients` table
- Zip code is a float not a string
- Zip code has four digits sometimes
- Tim Neudorf height is 27 in instead of 72 in
- Full state names sometimes, abbreviations other times
- Dsvid Gustafsson
- Missing demographic information (address - contact columns) ***(can't clean yet)***
- Erroneous datatypes (assigned sex, state, zip_code, and birthdate columns)
- Multiple phone number formats
- Default John Doe data
- Multiple records for Jakobsen, Gersten, Taylor
- kgs instead of lbs for Zaitseva weight

##### `treatments` table
- Missing HbA1c changes
- The letter 'u' in starting and ending doses for Auralin and Novodra
- Lowercase given names and surnames
- Missing records (280 instead of 350)
- Erroneous datatypes (auralin and novodra columns)
- Inaccurate HbA1c changes (leading 4s mistaken as 9s)
- Nulls represented as dashes (-) in auralin and novodra columns

##### `adverse_reactions` table
- Lowercase given names and surnames

#### Tidiness
- Contact column in `patients` table should be split into phone number and email
- Three variables in two columns in `treatments` table (treatment, start dose and end dose)
- Adverse reaction should be part of the `treatments` table
- Given name and surname columns in `patients` table duplicated in `treatments` and `adverse_reactions` tables

### Cleaning the data

Make a copy of the data sets so that we still have the original copy in case we need it.

In [8]:
patients_clean = patients.copy()
treatments_clean = treatments.copy()
adverse_reactions_clean = adverse_reactions.copy()

### Missing Data

#### `treatments`: Missing records (280 instead of 350)

 ##### Define
The missing treatment records are in treatments_cut.csv file. Import the cut treatments into a DataFrame and concatenate it with the original treatments DataFrame.

##### Code

In [9]:
treatments_cut = pd.read_csv('treatments_cut.csv')
treatments_clean = pd.concat([treatments_clean, treatments_cut],
                             ignore_index=True)

##### Test

In [10]:
treatments_clean.head()

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,NaN
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.97
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,NaN
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32

In [11]:
treatments_clean.tail()

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
345,rovzan,kishiev,32u - 37u,-,7.75,7.41,0.34
346,jakob,jakobsen,-,28u - 26u,7.96,7.51,0.95
347,bernd,schneider,48u - 56u,-,7.74,7.44,0.30
348,berta,napolitani,-,42u - 44u,7.68,7.21,NaN
349,armina,sauvé,36u - 46u,-,7.86,7.40,NaN

#### `treatments`: Missing HbA1c changes and Inaccurate HbA1c changes (leading 4s mistaken as 9s)

##### Define
Recalculate the `hba1c_change` column: `hba1c_start` minus `hba1c_end`.

##### Code

In [13]:
treatments_clean.hba1c_change = (treatments_clean.hba1c_start - 
                                 treatments_clean.hba1c_end)

##### Test

In [14]:
treatments_clean.hba1c_change.head()

0    0.43
1    0.47
2    0.43
3    0.35
4    0.32
Name: hba1c_change, dtype: float64

### Tidiness

#### Contact column in `patients` table contains two variables: phone number and email

##### Define
Extract the *phone number* and *email* variables from the *contact* column using regular expressions and pandas' `str.extract` method. Drop the *contact* column when done.

##### Code

In [16]:
patients_clean['phone_number'] = patients_clean.contact.str.extract('((?:\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4})', expand=True)
patients_clean['email'] = patients_clean.contact.str.extract('([a-zA-Z][a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.][a-zA-Z]+)', expand=True)
# Note: axis=1 denotes that we are referring to a column, not a row
patients_clean = patients_clean.drop('contact', axis=1)

##### Test

In [17]:
# Confirm contact column is gone
list(patients_clean)

['patient_id',
 'assigned_sex',
 'given_name',
 'surname',
 'address',
 'city',
 'state',
 'zip_code',
 'country',
 'birthdate',
 'weight',
 'height',
 'bmi',
 'phone_number',
 'email']

In [18]:
patients_clean.phone_number.sample(25)

222         502-367-6167
456         757 269 6500
186    +1 (401) 485-6384
106         765 599 8847
245         815-979-8782
190    +1 (724) 449-6928
160         602-993-7880
252         978-243-8596
11          931 207 0839
257                  NaN
430         701-662-1983
324         202-238-2247
479         909 458 2515
249                  NaN
459         619-710-6286
73          978-969-6753
231         252 583 5410
295         916 817 9960
356    +1 (225) 695-5230
113         713 779 6516
238         215-528-2193
14          918-712-3469
102    +1 (334) 261-1235
220    +1 (707) 896-9250
215           1234567890
Name: phone_number, dtype: object

In [19]:
# Confirm that no emails start with an integer (regex didn't match for this)
patients_clean.email.sort_values().head()

404               AaliyahRice@dayrep.com
11          Abdul-NurMummarIsa@rhyta.com
332                AbelEfrem@fleckens.hu
258              AbelYonatan@teleworm.us
305    AddolorataLombardi@jourrapide.com
Name: email, dtype: object

#### Three variables in two columns in `treatments` table (treatment, start dose and end dose)

##### Define
Melt the *auralin* and *novodra* columns to a *treatment* and a *dose* column (dose will still contain both start and end dose at this point). Then split the dose column on ' - ' to obtain *start_dose* and *end_dose* columns. Drop the intermediate *dose* column.

##### Code

In [20]:
treatments_clean = pd.melt(treatments_clean, id_vars=['given_name', 'surname', 'hba1c_start', 'hba1c_end', 'hba1c_change'],
                           var_name='treatment', value_name='dose')
treatments_clean = treatments_clean[treatments_clean.dose != "-"]
treatments_clean['dose_start'], treatments_clean['dose_end'] = treatments_clean['dose'].str.split(' - ', 1).str
treatments_clean = treatments_clean.drop('dose', axis=1)

##### Test

In [21]:
treatments_clean.head()

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,treatment,dose_start,dose_end
0,veronika,jindrová,7.63,7.20,0.43,auralin,41u,48u
3,skye,gormanston,7.97,7.62,0.35,auralin,33u,36u
6,sophia,haugen,7.65,7.27,0.38,auralin,37u,42u
7,eddie,archer,7.89,7.55,0.34,auralin,31u,38u
9,asia,woźniak,7.76,7.37,0.39,auralin,30u,36u

#### Adverse reaction should be part of the `treatments` table

##### Define
Merge the *adverse_reaction* column to the `treatments` table, joining on *given name* and *surname*.

##### Code

In [23]:
treatments_clean = pd.merge(treatments_clean, adverse_reactions_clean,
                            on=['given_name', 'surname'], how='left')

##### Test

In [24]:
treatments_clean

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,treatment,dose_start,dose_end,adverse_reaction
0,veronika,jindrová,7.63,7.20,0.43,auralin,41u,48u,NaN
1,skye,gormanston,7.97,7.62,0.35,auralin,33u,36u,NaN
2,sophia,haugen,7.65,7.27,0.38,auralin,37u,42u,NaN
3,eddie,archer,7.89,7.55,0.34,auralin,31u,38u,NaN
4,asia,woźniak,7.76,7.37,0.39,auralin,30u,36u,NaN
5,joseph,day,7.70,7.19,0.51,auralin,29u,36u,hypoglycemia
6,roxanne,andreyeva,9.54,9.14,0.40,auralin,29u,38u,NaN
7,simone,baumgaertner,7.74,7.30,0.44,auralin,27u,37u,NaN
8,enco,žibrik,7.78,7.34,0.44,auralin,55u,68u,NaN
9,camilla,zaitseva,7.53,7.13,0.40,auralin,28u,37u,NaN
10,tekla,walczak,7.61,7.29,0.32,auralin,29u,39u,NaN
11,brancaleone,russo,8.61,8.18,0.43,auralin,53u,60u,NaN
12,isac,berg,9.68,9.29,0.39,auralin,31u,41u,NaN
13,clinton,miller,7.79,7.40,0.39,auralin,42u,51u,throat irritation
14,eugene,mironov,7.81,7.48,0.33,auralin,42u,49u,NaN
15,szilveszter,totth,7.70,7.38,0.32,auralin,35u,39u,NaN
16,alexander,mathiesen,7.96,7.55,0.41,auralin,47u,58u,NaN
17,chỉ,lâm,7.68,7.24,0.44,auralin,45u,48u,NaN
18,władysław,wieczorek,7.92,7.47,0.45,auralin,24u,37u,NaN
19,kristján,ingason,7.92,7.57,0.35,auralin,44u,55u,NaN
20,marija,grubišić,7.53,7.15,0.38,auralin,37u,43u,NaN
21,sauli,koivuniemi,7.67,7.37,0.30,auralin,43u,47u,NaN
22,mariana,souza,7.86,7.51,0.35,auralin,36u,42u,NaN
23,kristoffer,martinsen,9.18,8.64,0.54,auralin,29u,37u,NaN
24,mỹ,quynh,7.61,7.16,0.45,auralin,57u,64u,NaN
25,oles,zhdanov,7.52,7.11,0.41,auralin,54u,67u,NaN
26,triana.,terrazas,7.71,7.34,0.37,auralin,34u,42u,NaN
27,gabryŝ,tomaszewski,7.87,7.47,0.40,auralin,29u,37u,NaN
28,leixandre,alanis,7.74,7.32,0.42,auralin,61u,67u,NaN
29,onyekachukwu,obinna,7.58,7.12,0.46,auralin,37u,46u,NaN
...,...,...,...,...,...,...,...,...,...
320,jane,citizen,7.98,7.60,0.38,novodra,37u,38u,NaN
321,angela,lavrentyev,7.61,7.14,0.47,novodra,28u,24u,NaN
322,edelma,villalpando,7.99,7.56,0.43,novodra,24u,26u,NaN
323,annika,vaara,7.73,7.34,0.39,novodra,20u,21u,NaN
324,chiho,higa,7.71,7.30,0.41,novodra,46u,46u,NaN
325,beatrycze,woźniak,7.54,7.17,0.37,novodra,26u,27u,NaN
326,miłosław,wiśniewski,7.51,7.08,0.43,novodra,34u,33u,injection site discomfort
327,firenze,fodor,7.89,7.55,0.34,novodra,30u,35u,NaN
328,zoe,wellish,7.71,7.30,0.41,novodra,33u,33u,NaN
329,una,traustadóttir,8.00,7.50,0.50,novodra,35u,34u,NaN
330,luboš,pecha,7.79,7.45,0.34,novodra,30u,27u,NaN
331,meaza,brhane,7.70,7.36,0.34,novodra,37u,41u,NaN
332,adlan,shishani,7.84,7.37,0.47,novodra,43u,40u,NaN
333,sofia,hermansen,8.90,8.57,0.33,novodra,34u,34u,injection site discomfort
334,guðni,heimisson,7.64,7.24,0.40,novodra,40u,36u,NaN
335,eufemio,rosario,7.54,7.26,0.28,novodra,37u,40u,NaN
336,dalmacia,madrid,7.67,7.21,0.46,novodra,26u,23u,NaN
337,daimy,tromp,9.41,8.94,0.47,novodra,40u,45u,NaN
338,jeremy,montagu,7.68,7.36,0.32,novodra,52u,52u,NaN
339,nebechi,ekechukwu,7.78,7.39,0.39,novodra,37u,39u,NaN
340,satsita,batukayev,7.63,7.25,0.38,novodra,42u,42u,NaN
341,timothy,cotton,7.92,7.52,0.40,novodra,26u,25u,NaN
342,bjørnar,nilsen,7.99,7.70,0.29,novodra,36u,33u,NaN
343,borna,šlezinger,7.55,7.18,0.37,novodra,42u,41u,NaN
344,mary,adams,7.65,7.26,0.39,novodra,32u,33u,NaN
345,christopher,woodward,7.51,7.06,0.45,novodra,55u,51u,nausea
346,maret,sultygov,7.67,7.30,0.37,novodra,26u,23u,NaN
347,lixue,hsueh,9.21,8.80,0.41,novodra,22u,23u,injection site discomfort
348,jakob,jakobsen,7.96,7.51,0.45,novodra,28u,26u,hypoglycemia
349,berta,napolitani,7.68,7.21,0.47,novodra,42u,44u,injection site discomfort

#### Given name and surname columns in `patients` table duplicated in `treatments` and `adverse_reactions` tables  and Lowercase given names and surnames

##### Define
Adverse reactions table is no longer needed so ignore that part. Isolate the patient ID and names in the `patients` table, then convert these names to lower case to join with `treatments`. Then drop the given name and surname columns in the treatments table (so these being lowercase isn't an issue anymore).

##### Code

In [25]:
id_names = patients_clean[['patient_id', 'given_name', 'surname']]
id_names.given_name = id_names.given_name.str.lower()
id_names.surname = id_names.surname.str.lower()
treatments_clean = pd.merge(treatments_clean, id_names, on=['given_name', 'surname'])
treatments_clean = treatments_clean.drop(['given_name', 'surname'], axis=1)

/Users/Sian/anaconda/envs/py3/lib/python3.6/site-packages/pandas/core/generic.py:3643: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

##### Test

In [27]:
# Confirm the merge was executed correctly
treatments_clean

,hba1c_start,hba1c_end,hba1c_change,treatment,dose_start,dose_end,adverse_reaction,patient_id
0,7.63,7.20,0.43,auralin,41u,48u,NaN,225
1,7.97,7.62,0.35,auralin,33u,36u,NaN,242
2,7.65,7.27,0.38,auralin,37u,42u,NaN,345
3,7.89,7.55,0.34,auralin,31u,38u,NaN,276
4,7.76,7.37,0.39,auralin,30u,36u,NaN,15
5,7.70,7.19,0.51,auralin,29u,36u,hypoglycemia,70
6,7.70,7.19,0.51,auralin,29u,36u,hypoglycemia,70
7,9.54,9.14,0.40,auralin,29u,38u,NaN,18
8,7.74,7.30,0.44,auralin,27u,37u,NaN,424
9,7.78,7.34,0.44,auralin,55u,68u,NaN,292
10,7.53,7.13,0.40,auralin,28u,37u,NaN,211
11,7.61,7.29,0.32,auralin,29u,39u,NaN,133
12,8.61,8.18,0.43,auralin,53u,60u,NaN,316
13,9.68,9.29,0.39,auralin,31u,41u,NaN,101
14,7.79,7.40,0.39,auralin,42u,51u,throat irritation,451
15,7.81,7.48,0.33,auralin,42u,49u,NaN,335
16,7.70,7.38,0.32,auralin,35u,39u,NaN,389
17,7.96,7.55,0.41,auralin,47u,58u,NaN,71
18,7.68,7.24,0.44,auralin,45u,48u,NaN,297
19,7.92,7.47,0.45,auralin,24u,37u,NaN,188
20,7.92,7.57,0.35,auralin,44u,55u,NaN,282
21,7.53,7.15,0.38,auralin,37u,43u,NaN,174
22,7.67,7.37,0.30,auralin,43u,47u,NaN,146
23,7.86,7.51,0.35,auralin,36u,42u,NaN,35
24,9.18,8.64,0.54,auralin,29u,37u,NaN,350
25,7.61,7.16,0.45,auralin,57u,64u,NaN,220
26,7.52,7.11,0.41,auralin,54u,67u,NaN,102
27,7.71,7.34,0.37,auralin,34u,42u,NaN,181
28,7.87,7.47,0.40,auralin,29u,37u,NaN,466
29,7.74,7.32,0.42,auralin,61u,67u,NaN,205
...,...,...,...,...,...,...,...,...
319,7.98,7.60,0.38,novodra,37u,38u,NaN,187
320,7.61,7.14,0.47,novodra,28u,24u,NaN,234
321,7.99,7.56,0.43,novodra,24u,26u,NaN,479
322,7.73,7.34,0.39,novodra,20u,21u,NaN,49
323,7.71,7.30,0.41,novodra,46u,46u,NaN,356
324,7.54,7.17,0.37,novodra,26u,27u,NaN,208
325,7.51,7.08,0.43,novodra,34u,33u,injection site discomfort,373
326,7.89,7.55,0.34,novodra,30u,35u,NaN,63
327,7.71,7.30,0.41,novodra,33u,33u,NaN,1
328,8.00,7.50,0.50,novodra,35u,34u,NaN,291
329,7.79,7.45,0.34,novodra,30u,27u,NaN,363
330,7.70,7.36,0.34,novodra,37u,41u,NaN,465
331,7.84,7.37,0.47,novodra,43u,40u,NaN,421
332,8.90,8.57,0.33,novodra,34u,34u,injection site discomfort,376
333,7.64,7.24,0.40,novodra,40u,36u,NaN,463
334,7.54,7.26,0.28,novodra,37u,40u,NaN,81
335,7.67,7.21,0.46,novodra,26u,23u,NaN,322
336,9.41,8.94,0.47,novodra,40u,45u,NaN,392
337,7.68,7.36,0.32,novodra,52u,52u,NaN,262
338,7.78,7.39,0.39,novodra,37u,39u,NaN,68
339,7.63,7.25,0.38,novodra,42u,42u,NaN,152
340,7.92,7.52,0.40,novodra,26u,25u,NaN,431
341,7.99,7.70,0.29,novodra,36u,33u,NaN,450
342,7.55,7.18,0.37,novodra,42u,41u,NaN,194
343,7.65,7.26,0.39,novodra,32u,33u,NaN,7
344,7.51,7.06,0.45,novodra,55u,51u,nausea,153
345,7.67,7.30,0.37,novodra,26u,23u,NaN,420
346,9.21,8.80,0.41,novodra,22u,23u,injection site discomfort,336
347,7.96,7.51,0.45,novodra,28u,26u,hypoglycemia,25
348,7.68,7.21,0.47,novodra,42u,44u,injection site discomfort,477

In [28]:
# Patient ID should be the only duplicate column
all_columns = pd.Series(list(patients_clean) + list(treatments_clean))
all_columns[all_columns.duplicated()]

22    patient_id
dtype: object

### Quality

#### Zip code is a float not a string and Zip code has four digits sometimes

##### Define
Convert the zip code column's data type from a float to a string using `astype`, remove the '.0' using string slicing, and pad four digit zip codes with a leading 0.

##### Code

##### Test

0    92390
1    61812
2    68467
3    07095
4    36303
Name: zip_code, dtype: object